.conteiner {
    margin: 150px auto;
    padding: 20px;
    width: 400px;
    height: 400px;
    border: 3px solid rgb(32, 237, 216);
    border-radius: 15px;
}

.conteiner_monitor {
    display: flex;
    height: 180px;
    border: 3px solid rgb(32, 237, 216);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.conteiner_monitor-text {
    font-size: 80px;
    color: rgb(32, 237, 216);
}

.conteiner_button {
    display: flex;
    gap: 30px;
    margin: 20px auto;
    height: 180px;
    border: 3px solid rgb(32, 237, 216);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.conteiner_button-inc {
    height: 50px;
    width: 120px;
    border-radius: 15px;
    background-color: rgb(32, 237, 216);
}

.conteiner_button-reset {
    height: 50px;
    width: 120px;
    border-radius: 15px;
    background-color: rgb(32, 237, 216);
}